.dropdown__menu {
	position: relative;
	padding: 15px 4px 5px 15px;
	.dropdown__title {
		position: relative;
		display: inline-block;
		cursor: pointer;
		padding: 0px 0px 0px 26px;
		width: 80px;
		font-size: 17px;
		line-height: 21px;
		color: $color-header;
		background: url("../img/svg/ru.svg") no-repeat;
		&::after {
			position: absolute;
			content: "";
			top: 0;
			right: 0;
			bottom: 0;
			left: 52px;
			background: url("../img/svg/arrow.svg") no-repeat;
		}
	}
	&.open .dropdown__list {
		display: block;
	}
}

.dropdown__list {
	position: absolute;
	top: 51px;
	left: 12px;
	display: none;
	margin: 0;
	padding: 0;
	width: 80px;
	list-style: none;
	backdrop-filter: blur(50px);
	z-index: 10;
	.dropdown__item {
		padding: 4px 4px;
		background-color: rgba(255, 255, 255, 0.1);
		&:first-child {
			border-radius: 4px 4px 0px 0px;
			a {
				background: url("../img/svg/ru.svg") center left no-repeat;
			}
		}
		&:nth-child(2) {
			a {
				background: url("../img/svg/eng.svg") center left no-repeat;
			}
		}
		&:last-child {
			border-radius: 0px 0px 4px 4px;
			a {
				background: url("../img/svg/ae.svg") center left no-repeat;
			}
		}
		&:hover {
			background-color: rgba(255, 255, 255, 0.15);
		}
		a {
			display: block;
			padding: 0 24px;
			width: 100%;
			font-size: 17px;
			line-height: 21px;
			color: #fff;
			text-decoration: none;
		}
	}
}