/* hero */

.hero {
	margin-top: 144px;
}

.hero-top_header,
.hero-bottom_header {
	margin-bottom: 32px;
	font-size: 35px;
	line-height: 41px;
	color: $color-header;
}

.hero-top__text,
.hero-bottom__text {
	font-size: 24px;
	line-height: 29px;
}

.hero__top {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	.hero-top__img {
		margin: 0 auto; 
		max-width: 658px;
		object-fit: cover;
		object-position: center;
		border-radius: 8px;
		overflow: hidden;
	}
}
.hero-top__content {
	max-width: 50%;
	.hero-top_header {
		max-width: 91%;
		letter-spacing: 0.29px;
	}
	.hero-top__text {
		margin-bottom: 32px;
		max-width: 91%;
		letter-spacing: 0.8px;
	}
	.hero-top__btn {
		padding: 12px 37px;
		font-size: 17px;
		line-height: 21px;
		color: $color-header;
		background: #0fae96;
		border-radius: 4px;
		&:hover {
			color: $color-hover;
			background: $bgc-hover;
		}
		&:active {
			color: $color-active;
			background: $bgc-active;
		}
	}
}

.hero__bottom {
	display: flex;
	justify-content: space-between;
	margin-top: 160px;
	.hero__slider {
		max-width: 53%;
	}
	.hero-bottom__content {
		max-width: 42.7%;
		.hero-bottom__text {
			letter-spacing: 0.78px;
		}
	}
}

.hero__slider-swiper {
	padding-bottom: 36px;
	max-width: 681px;
}
.swiper-pagination {
	bottom: -5px;
	.swiper-pagination-bullet {
		height: 3px;
		width: calc((74.6% - 37.3%) / 2);
		background-color: #0fae96;
		border-radius: 100px;
	}
}

@media (max-width:992px) {
	.hero {
		margin-top: 44px;
	}
	.hero__top {
		flex-direction: column;
		justify-content: center;
	}
	.hero-top__content {
		max-width: 100%;
		.hero-top_header {
			margin-top: 32px;
			max-width: 100%;
		}
		.hero-top__text {
			margin-bottom: 16px;
			max-width: 100%;
		}
	}

	.hero-top__text, .hero-bottom__text {
		font-size: 17px;
		line-height: 21px;
	}
	.hero-top_header, .hero-bottom_header {
		margin-bottom: 16px;
		font-size: 21px;
		line-height: 25px;
	}
	.hero__bottom {
		margin-top: 96px;
		flex-direction: column;
		.hero__slider {
			max-width: 100%;
		}
		.hero-bottom__content {
			margin: 0 auto;
			max-width: 87%;
			text-align: center;
			.hero-bottom_header {
				margin-top: 32px;
			}
		}
	}
}