.hero__product {
    &-top {
        display: flex;
        align-items: flex-start;
        @media (max-width: 992px) {
            flex-direction: column;
            align-items: inherit;
        }
    }
    &-swiper {
        position: relative;
        flex: 0 0 31%;
        min-width: 350px;
        overflow: hidden;
        .swiper {
            margin-left: auto;
            margin-right: auto;
            padding-bottom: 0;
            max-height: 409px;
            &-slide {
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                padding: 96px 32px;
                text-align: center;
                font-size: 18px;
                background: rgba(255, 255, 255, 0.03);
                background-size: cover;
                background-position: center;
                border: 1px solid rgba(255, 255, 255, 0.05);
                border-radius: 8px;
                & img {
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
            .swiper-slide-active {
                opacity: 1;
            }
        }
        .slider-button {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            .swiper-button-next, .swiper-button-prev {
                top: -25px;
                color: #ECF1F0;
                &::after {
                    padding: 14px 21px;
                    background: rgba(255, 255, 255, 0.03);
                    border: 1px solid rgba(255, 255, 255, 0.05);
                    border-radius: 8px;
                }
            }
            .swiper-button-next {
                right: 21px;
            }
            .swiper-button-prev {
                left: 21px;
            }
        }
        @media (max-width: 992px) {
            min-width: auto;
            .swiper {
                max-height: 100%;
                &-slide {
                    height: 356px;
                }
            }
            .slider-button {
                .swiper-button-next, .swiper-button-prev {
                    top: -21px;
                    &::after {
                        padding: 11px 14px;
                        
                    }
                }
                .swiper-button-next {
                    right: 17px;
                }
                .swiper-button-prev {
                    left: 17px;
                }
            }
        }
        @media (max-width: 600px) {
            .swiper {
                &-slide {
                    padding: 16px 16px;
                    height: 233px;
                }
            }
        }
    }
    .product__swiper-karusel {
        height: 20%;
        box-sizing: border-box;
        padding-top: 16px;
        width: 67%;
        .swiper-slide {
            width: 25%;
            height: 100%;
            opacity: 0.4;
            padding: 12px 6px;
        }
        .swiper-slide-thumb-active {
            opacity: 1;
        }
    }

    &-info {
        margin-left: 68px;
    }
    &-header {
        margin-bottom: 32px;
        font-size: 34px;
        line-height: 41px;
        color: $color-header;
        letter-spacing: 0.5px;
    }
    &-pre_header {
        margin-bottom: 16px;
        font-size: 24px;
        line-height: 29px;
        color: $color-header;
    }
    &-text {
        margin-bottom: 8px;
        font-size: 17px;
        line-height: 21px;
        color: $color-text;
        letter-spacing: 0.55px;
    }
    &-link {
        font-size: 17px;
        line-height: 21px;
        color: $color-text;
        letter-spacing: 0.5px;
        border-bottom: 1px solid;
    }
    
    &-bottom {
        margin-top: 64px;
        .hero__product-header {
            margin-bottom: 69px;
            font-size: 32px;
            line-height: 38px;
            letter-spacing: 0.75px;
        }
    }
    @media (max-width: 992px) {
        &-info {
            margin-top: 32px;
            margin-left: 0;
        }
        &-bottom {
            margin-top: 32px;
        }
    }
    @media (max-width: 600px) {
        &-header {
            font-size: 21px;
            line-height: 25px;
        }
        &-pre_header {
            font-size: 17px;
            line-height: 21px;
        }
        &-text, &-link {
            font-size: 14px;
        }
        &-bottom {
            .hero__product-header {
                margin-bottom: 32px;
                font-size: 21px;
                line-height: 30px;
            }
        }
    }
    &--similar {
        display: grid;
        grid-template-columns: 48% 47.5%;
        gap: 62px;
        column-gap: 9px;
        scrollbar-width: thin;
        scrollbar-color: rgba(255, 255, 255, 0.07) transparent;
        &::-webkit-scrollbar {
            height: 10px;
        }
        &::-webkit-scrollbar-thumb {
            background-color: rgba(255, 255, 255, 0.07); 
            border-radius: 20px;
        }
        .card__product {
            position: relative;
            display: flex;
            grid-column: 0;
            max-width: 89%;
            padding: 0;
            background-color: transparent;
            border: none;
            border-radius: 0;
            transition: none;
            &:hover {
                background-color: transparent;
            }
        }
        @media (max-width: 1440px) {
            gap: 32px;
        }
        @media (max-width: 1024px) {
            display: flex;
            gap: 0;
            padding-bottom: 10px;
            overflow-x: auto;
            white-space: nowrap;
            .card__product {
                flex-direction: column;
                &:not(:last-child) {
                    margin-right: 16px;
                }
            }
        }
    }
    &-card-img {
        margin-right: 24px;
        height: 100%;
        width: 100%;
        min-width: 187px;
        padding: 40px 16px;
        background: rgba(255, 255, 255, 0.05);
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 8px;
        img {
            height: 100%;
            object-fit: contain;
            object-position: center;
        }
        @media (max-width: 1024px) {
            margin: 0;
            padding: 16px;
        }
    }
    &-card_content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .card__header {
            margin: 0 0 16px;
            letter-spacing: 0.26px;
        }
        .card__descr {
            letter-spacing: 0.3px;
            -webkit-line-clamp: 3;
        }
        .card__btn {
            padding: 12px 28px;
            font-size: 17px;
            line-height: 21px;
            letter-spacing: 0.7px;
            color: #0FAE96;
            background-color: transparent;
            border: 1px solid #0FAE96;
            border-radius: 4px;
            cursor: pointer;
            transition: color ease-in .3s, background-color ease-in .3s, border-color ease-in .3s;
            &:hover {
                border-color: #058F7B;
                color: $color-hover;
                background-color: $bgc-hover;
            }
            &:active {
                border-color: #027463;
                color: $color-active;
                background-color: $bgc-active;
            }
        }
        @media (max-width: 1024px) {
            .card__header {
                font-size: 17px;
                line-height: 21px;
                white-space: normal;
            }
            .card__descr {
                display: none;
            }
        }
        @media (max-width: 992px) {
            margin-top: 16px;
            .card__btn {
                padding: 0;
                opacity: 0;
                line-height: 0;
                &::before {
                    position: absolute;
                    content: "";
                    inset: 0;
                }
            }
        }
        @media (max-width: 600px) {
            .card__header {
                font-size: 14px;
                line-height: 17px;
            }
        }
    }
}
.footer__product {
    padding-top: 60px;
    @media (max-width: 600px) {
        padding-top: 32px;
    }
}