$color-text: #d4d4d4;
$color-header: #ecf1f0;
$color-hover: #F9F9F9;
$color-active: #DFDFDF;
$bgc-hover: #058F7B;
$bgc-active: #027463;

:root {
	--swiper-pagination-bullet-horizontal-gap: 13px;
	--swiper-navigation-size: 20px;
}